.cal-events {
  background-color: #F1E6E8;
}
.cal-mahesh {
  background-color: #EAF5DC;
}
.cal-chitra {
  background-color: #E4F7F8;
}
.cal-reminders {
  background-color: #FFE8CB;
}
.cal-us-holidays {
  background-color: #E3E3FF;
}
